*{
	padding: 0;
	margin: 0;
}
h1{
	font-family: arial, sans-serif;
}
h4{
	font-family: arial, sans-serif;
	text-align: center;
	font-size: 30px;
	margin-top: 15px;
}
p{
	text-align: center;
	font-family: arial, sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}
.container{
	border: 1px solid black;
	width: 900px;
	min-height: 700px;
	margin: 0 auto;
}
.yourGold{
	width: 169px;
	height: 70px;
	display: inline-block;
	vertical-align: top;
}
.topleftbox{
	width: 850px;
	height: 90px;
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
	vertical-align: top;
}
.scorebox{
	width: 80px;
	height: 20px;
	border: 1px solid black;
	padding: 10px;
	font-family: arial, sans-serif;
	font-size: 20px;
	color: red;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
}

.box1{
	border: 1px solid black;
	width: 190px;
	height: 190px;
	padding: 5px;
	margin-left: 15px;
	display: inline-block;
	vertical-align: top;
}
.button{
	width: 120px;
	font-size: 30px;
	display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
}
.buttonholder{
	width: 160px;
	height: 30px;
	padding: 10px;
	margin-left: 25px;
}
.headerA{
	width: 105px;
	height: 20px;
}
.textarea{
	width: 850px;
	height: 150px;
	margin-left: 17px;
	font-family: arial, sans-serif;
	font-size: 22px;
	text-align: left;
	overflow-y: scroll;
	padding: 10px;
	border: 1px solid black;
}
.reset1{
	width: 120px;
	height: 70px;
	margin-left: 560px;
	display: inline-block;
	vertical-align: top;
	font-family: arial, sans-serif;
	font-size: 16px;
	color: red;